section.order#order
    .container
        .order__wrap
            h2.order__title Закажите меню сейчас
            ul.order__list
                li.order__item
                    .order__billet
                        img.order__img(src="./img/content/billet.png", alt="плашка")
                        span.order__subtitle Сегодня
                    .order__pic
                        img.order__big-img(src="./img/content/today.png", alt="сегодня")
                    a(href="").order__btn Заказать
                li.order__item
                    .order__billet
                        img.order__img(src="./img/content/billet.png", alt="плашка")
                        span.order__subtitle.order__subtitle-mid завтра
                    .order__pic
                        img.order__big-img(src="./img/content/tomorrow.png", alt="завтра")
                    a(href="").order__btn Заказать
                li.order__item
                    .order__billet
                        img.order__img(src="./img/content/billet.png", alt="плашка")
                        span.order__subtitle.order__subtitle-right на неделю
                    .order__pic
                        img.order__big-img(src="./img/content/week.png", alt="на неделю")
                    a(href="").order__btn Заказать
                        