section.sales
    .slick__slider
        .slick__slid.slick__slid1
            span.slick__text Акция1
        .slick__slid.slick__slid2
            span.slick__text Акция2
        .slick__slid.slick__slid3
            span.slick__text Акция3
    .footer
        .footer__figure
                img(src="./img/content/figur.png", alt="")
        .container
            .footer__wrap
                .footer__logo
                    img(src="./img/content/logo.png")
                .footer__block
                    .footer__contacts
                        span.footer__title Контакты:
                        ul.footer__list
                            li.footer__item
                                a.footer__phone(href="tel: +375000000000") +375-000-00-00
                            li.footer__item
                                a.footer__phone(href="tel: +375000000000") +375-000-00-00
                            li.footer__item
                                a.footer__mail(href="mailto: exempl@mail.ru") xxxxxxxx@mail.ru
                    .footer__socials 
                        span.footer__title Мы в социальных сетях:
                        ul.footer__soc-list
                            li.footer__soc-item
                                a(href="https://www.facebook.com/").footer__soc-link
                                    +icon("fb", "footer__soc-icon")
                            li.footer__soc-item
                                a(href="https://twitter.com").footer__soc-link
                                    +icon("tw", "footer__soc-icon")
                            li.footer__soc-item
                                a(href="https://instagram.com").footer__soc-link
                                    +icon("inst", "footer__soc-icon")
                            li.footer__soc-item
                                a(href="https://plus.google.com").footer__soc-link
                                    +icon("gp", "footer__soc-icon")
                            li.footer__soc-item
                                a(href="https://vk.com").footer__soc-link
                                    +icon("vk", "footer__soc-icon")
                            li.footer__soc-item
                                a(href="https://linkedin.com").footer__soc-link
                                    +icon("link", "footer__soc-icon")
                    .footer__creator
                        span.footer__auth Cоздание сайта - 
                        a.footer__name(href="#") WECAN
