.icon-arrow {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-card {
  width: 1.34em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: #3b5998;
}
.icon-gp {
  width: 1em;
  height: 1em;
  fill: #dc4e41;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: #6a453b;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: #007ab9;
}
.icon-menu {
  width: 1.48em;
  height: 1em;
  fill: initial;
}
.icon-photo {
  width: 1.21em;
  height: 1em;
  fill: initial;
}
.icon-sales {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-servises {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: #55acee;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #4d76a1;
}
